body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.cep-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px;
    text-align: center;
}

.buscagem-cep {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.buscagem-cep input {
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 4px;
    width: 200px;
    margin-right: 10px;
}

.buscagem-cep button {
    padding: 10px 20px;
    border: none;
    background-color: rgba(0, 128, 0, 0.527);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.buscagem-cep button:hover {
    background-color: rgba(0, 128, 0, 0.699);
}

.cep-response-container {
    margin-top: 20px;

}

.data-cep ul {
    list-style-type: none;
    padding: 0;
}

.data-cep ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}